
.idea/vcs.xml
*.bin
*.lock
.gradle/6.5.1/executionHistory/executionHistory.bin
*.lock
*.xml
.gradle/6.5.1/executionHistory/executionHistory.bin
.gradle/6.5.1/fileHashes/fileHashes.lock
.gradle/6.5.1/executionHistory/executionHistory.bin
*.lock
*.bin
*.xml
.gradle/6.5.1/fileHashes/fileHashes.bin
*.lock
*.bin
